:root {
  //sizes
  --font-size: 1.6rem;

  //fonts
  --main-font: 'Abel', sans-serif;
  --price-font: 'Swiss911 XCm BT';
  --questions-font: 'ITC Korinna';

  //colors
  --blue: hsl(249, 100%, 11%);
  --purple: hsl(253, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}